.card {
    perspective: 1500rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 50rem;



    &__side {
        background-color: orangered;
        height: 50rem;
        transition: 0.8s ease;
        position: absolute;
        border-radius: 3px;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &--front {
            background-color: #fff
        }

        &--back {

            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-dark, $color-secondary-light);
            }

        }

    }

    &:hover &__side--front {
        transform: rotateY(180deg);

    }

    &:hover &__side--back {
        transform: rotateY(0);

    }
}