@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translate(-100px);
    }

    80% {
        transform: translate(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translate(30px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0px);
    }
}

@keyframes moveUp {
    0% {
        opacity: 0;
        transform: translateY(100px);

    }


    80% {
        transform: translateY(30px);
        opacity: 0.8;
    }

    100% {
        transform: translateY(0px);
    }
}